body {
    background-color: rgb(235, 237, 242);
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__headerLeft--zoComLogo {
    padding-left: 15px;
}

.main {
    display: grid;
    justify-content: center;

}

.cardInfoContainer__checkbox {
    display: flex;
    align-items: center;
    
}

.cardInfoContainer__title {
    font-size: 50px;
    line-height: 5px;
}

.cardInfoContainer__checkbox--position {
    padding-right: 15px;
}

.cardHolder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


card {
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(245, 246, 255);
}

.textInCard {
    margin-left: 10px;
    line-height: 5px;
}

.textInCard2 {
    margin-left: 10px;
    line-height: 10px;
}

.textInCard2 h3{
    line-height: 15px;
}

.listItemTopCard1 {
    color: white;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(65, 67, 71);;
    margin-top: 60px;
}

.listItemTopCard2 {
    border-radius: 10px 10px 0px 0px;
    margin-top: 10px;
}

.listItemTop {
    border-radius: 10px 10px 0px 0px;
    margin-top: 60px;
}

.listItemBottom {
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 10px;
}

li {
    background-color: rgb(235, 237, 242);
    border: solid 1px rgb(235, 237, 242);
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 1px;
    list-style: none;

}




